@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 768px) {
    /* Styles for tablets and below */
    .hero-section {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 480px) {
    /* Styles for mobile phones */
    .nav ul {
        flex-direction: column;
    }
}
